// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #dc3434;
$blue-fade:#3490dc75;
$black: #000000;
$indigo: #6574cd;
$purple: #9561e2;
$purple-old: #cc1f1f;
$pink: #f66d9b;
$red: #e3342f;
$brown: #a52a2a;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #2E9702;
$green-fade: #d4edda;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #4b4e52;
$grey: #6c757d;

// gender
$female: $pink;
$male: $grey;