body {
    min-height: 100vh;
    position: relative;
    a {
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    .footer {
        background-color: transparent;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 5px $purple-old solid;
    }
    .bg-primary-fade {
        background-color: $blue-fade !important;
    }
    .bg-purple-old {
        background-color: $purple-old !important;
    }
    .text-purple-old {
        color: $purple-old !important;
    }
    .text-brown {
        color: $brown;
    }
    .text-pink {
        color: $pink;
    }
    .text-gray {
        color: $gray;
    }
    .text-grey {
        color: $grey;
    }
    .text-gold {
        color: gold;
    }
    .navbar-nav {
        .dropdown-menu {
            border-radius: 20px;
        }
    }
    .navbar-nav, 
    .dropdown {
        .dropdown-toggle {
            &.no-icon {
                &:after {
                    display:none;
                }
            }
        }
        .dropdown-menu {
            overflow: hidden;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            .dropdown-item {
                cursor: pointer;
                &.active, &:active {
                    background-color: $green-fade;
                    color: black;
                }
            }
        }
    } 
    .modal {
        .modal-content {
            border-radius: 20px;
            .modal-header {
                border-radius: 20px 20px 0px 0px;
            }
            .modal-body {
                .form-group {
                    label {
                        margin-bottom: 2px;
                        color: $gray;
                    }
                }
            }
        }
    }
    .swal2-container {
        .swal2-popup {
            border-radius: 20px !important;
            .swal2-actions {
                margin: auto !important;
                button {
                    border-radius: 20px !important;
                    padding: 5px 20px;
                    &.swal2-confirm {
                        background-color: $purple-old !important;
                    }
                }
                &.swal2-loading {
                    button {
                        &.swal2-confirm {
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }
    .form-control, .custom-select {
        &:focus {
            box-shadow: none;
        }
    }
    button {
        &:focus {
            outline: none;
        }
    }
    label {
        margin-bottom: 0rem;
        color: $gray;
        font-size: 13px;
    }
    .single-select-wrapper {
        .search-input {
            &.required {
                border-color: $red;
            }
        }
    }
    .mx-datepicker {
        .mx-input-append {
            svg {
                height: auto;
            }
        }
        .mx-calendar-content {
            .cell {
                &.actived {
                    background-color: $purple-old;
                    &.today {
                        background-color: $purple-old;
                        color: white;
                    }
                } 
                &.today {
                    color: $purple-old;
                    background-color: $blue-fade;
                }
            }
        }
    }
    .rounded-20 {
        border-radius: 20px!important;
    }
    .rounded-top-20 {
        border-radius: 20px 20px 0px 0px!important;
    }
    .rounded-right-20 {
        border-radius: 0px 20px 20px 0px!important;
    }
    .rounded-bottom-20 {
        border-radius: 0px 0px 20px 20px!important;
    }
    .rounded-left-20 {
        border-radius: 20px 0px 0px 20px!important;
    }
    #picture-input {
        .preview-container {
            .picture-inner {
                margin-top: 0.2rem;
            }
        }
        &:hover {
            .preview-container {
                ~ .btn {
                    opacity: 100;
                }
            }
        }
        .btn {
            opacity: 0;
            position: relative;
            top: -70px;
            z-index: 10001;
        }
    }
}