#dashboard {
    .navbar {
        border-top: 5px $purple-old solid;
        .navbar-brand {
            img {
                width: 40px;
            }
        }
        .navbar-collapse {
            .nav-item {
                .nav-link {
                    img {
                        width: 30px!important;
                        height: 30px!important;
                    }
                }
            }
        }
    }
    .nav {
        &.nav-pills {
            height: 100%;
            min-height: 50vh;
            border-right: 0.5px #e5e5e5 solid;
            .nav-link {
                color: $purple-old;
                border-bottom: 0.5px #e5e5e5 solid;
                &.active {
                    background-color: $purple-old;
                    color: white;
                }
                &:not(:last-child), &:not(:first-child) {
                    border-radius: 0px;
                }
                &:first-child {
                    border-radius: 20px 0px 0px;
                }
            }
        }
    }
    .tab-content {
        .tab-pane {
            position: relative;
            padding-bottom: 100px;
            .btn-bottom {
                bottom: 0;
                width: 100%;
            }
        }
    }
    #side-menu,#page {
        .card {
            border-radius: 20px;
            .card-header {
                background-color: transparent;
            }
        }
    }
    #side-menu {
        .user-pict {
            $user-pict-size: 150px;
            width: $user-pict-size;
            max-height: $user-pict-size;
        }
        .list-group-item {
            a {
                color: $purple-old;
            }
            &.active {
                border-color: $purple-old!important;
                background-color: $purple-old!important;
                a {
                    color:white!important;
                    text-decoration: none;
                }
            }
            &:hover {
                background-color: $blue-fade;
                border-color: transparent;
                transition: 0.3s;
                a {
                    text-decoration: none;
                }
            }
            &:last-child {
                border-radius: 0px 0px 20px 20px!important;
            }
        }
    }
    #page {
        .breadcrumb {
            border-radius: 20px;
            padding: 0.25rem 1.25rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            margin-bottom: 1.5rem;
            background-color: white;
            .breadcrumb-item {
                a {
                    color: $purple-old;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .filter-field {
            &.single {
                .field {
                    &:last-child {
                        select, input {
                            border-radius: 20px;
                            @include media-breakpoint-down(sm) {
                                border-radius: 20px !important;
                            }
                        }
                    }
                }
            }
            .field {
                &:first-child {
                    select, input {
                        margin-left: 5px;
                        border-radius: 20px 0px 0px 20px;
                        width: calc(100% - 10px);
                        @include media-breakpoint-down(sm) {
                            border-radius: 20px 20px 0px 0px!important;
                        }
                    }
                }
                &:last-child {
                    select, input {
                        border-radius: 0px 20px 20px 0px;
                        @include media-breakpoint-down(sm) {
                            border-radius: 0px 0px 20px 20px!important;
                        }
                    }
                }
                &:not(:first-child) {
                    select, input {
                        margin-left: -5px;
                        border-left: 1px $blue-fade solid !important;
                        @include media-breakpoint-down(sm) { 
                            border-left: 0px!important;
                            margin-left: 5px;
                            width: calc(100% - 10px);
                        }   
                    }
                }
                &:not(:last-child) {
                    select, input {
                        @include media-breakpoint-down(sm) { 
                            border-bottom: 1px $blue-fade solid !important;
                        }
                    }
                }
                &:not(:first-child):not(:last-child) {
                    select, input {
                        border-radius: 0px;
                    }
                }
            }
        }
        .search-field {
            input {
                margin-left: 5px;
                border-radius: 20px 0px 0px 20px;
            }
            button {
                margin-left: -5px;
                border-radius: 0px 20px 20px 0px;
            }
        }
        .btn {
            border-radius: 20px;
            &.dropdown-toggle {
                border-radius: 0px;
            }
        }
        .alert {
            border-radius: 20px;
        }
        .pagination {
            .page-item {
                -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                &.active {
                    .page-link {
                        background-color: red;
                        border-color: $purple-old;
                        color: white;
                    }
                }
                a {
                    color: $purple-old;
                }
                .page-link {
                    &:hover {
                        background-color: $blue-fade;
                        border-color: transparent;
                        transition: 0.3s;
                        a {
                            text-decoration: none;
                        }
                    }
                }
                &:first-child {
                    border-radius: 20px 0px 0px 20px;
                    .page-link {
                        border-radius: 20px 0px 0px 20px;
                    }
                }
                &:last-child {
                    border-radius: 0px 20px 20px 0px;
                    .page-link {
                        border-radius: 0px 20px 20px 0px;
                    }
                }
            }
        }
        .card {
            .card-header {
                border-radius: 20px 20px 0px 0px;
                .navbar {
                    border-radius: 20px 20px 0px 0px;
                    border: 0px;
                    background-color: transparent !important;
                    .navbar-brand {
                        color: white;
                    }
                    .nav-item {
                        .nav-link {
                            color: white;
                            &:after {
                                content: '';
                                border: 0px;
                            }
                        }
                    }
                }
                .option-bar {
                    position: absolute;
                    top: 0;
                    right: 15px;
                    .dropdown-menu {
                        position: absolute;
                    }
                }
            }
            .card-body {
                table {
                    .action-btn {
                        top: 0;
                        right: 0;
                        width: 10px;
                        a {
                            color: $purple-old;
                        }
                    }
                }
            }
        }
        .dashboard, .patient, .physician, .user {
            &:hover {
                .card-header {
                    cursor: pointer;
                    background-color: $green !important;
                    text-decoration: none;
                    transition: 0.3s;
                    h5 {
                        color: white !important;
                    }
                }
            }
            a {
                &:hover {
                    text-decoration: none;
                }
                &.family-item:hover {
                    background-color: $green-fade;
                    transition: 0.3s;
                }
            }
            .medical-record, .list-person {
                .physician, .user, .patient {
                    img {
                        width: 30px!important;
                        height: 30px!important;
                    }
                }
                .pagination {
                    margin-bottom: 0px;
                    .page-link {
                        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15) !important;
                    }
                }
            }
        }
        .patient, .physician, .user {
            .profile-pict {
                max-height: 160px;
            }
        }
        .dropdown{
            text-align: center;
        }
        .mcu-setting {
            .form-check {
                .list-form {
                    .btn-delete {
                        display: none;
                        top:31px;
                        left:100%;
                    }
                    &:hover {
                        .btn-delete {
                            display: block;
                        }
                    }
                }
            }
        }
        .medical-record {
            .form-icd {
                .form-item {
                    .btn-delete {
                        display: none;
                        top: 0;
                        left: 100%;
                        height: 100%;
                        padding-left: 15px;
                        padding-top: 1.5rem;
                        .btn {
                            margin: auto;
                        }
                    }
                    &:hover {
                        .btn-delete {
                            display: block;
                        }
                    }
                }
            }
        }
        .tree-branch {
            &.selected > {
                .tree-node > {
                    .tree-node-label {
                        background-color: $purple-old;
                    }
                }
            }
        }
        .btn {
            &.btn-expand[aria-expanded=false] .fa-angle-up {
                display: none;
            }
            &.btn-expand[aria-expanded=true] .fa-angle-down {
                display: none;
            }
        }
        .list-group-item-action {
            .btn-delete {
                position: absolute;
                right: -40px;
            }
        }
        .multiselect__tag, .multiselect__placeholder {
            margin-bottom: 0px;
        }
    }
}