#auth {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    .container {
        height: 100vh;
        .card {
            border-radius: 20px;
            .card-header {
                background-color: white;
                border-radius: 20px 20px 0px 0px;
                img {
                    width: 30%;
                }
            }
            .form-control, .btn {
                border-radius: 20px;
            }
        }
    }
}